DATABASE_URL="postgresql://postgres:postgres@localhost:5432/orders?schema=public"

REDIS_HOST=localhost
REDIS_PORT=6379

EXCHANGE_RATE_API_URL=https://api.frankfurter.dev/v1
TARGET_EXCHANGE_RATE_CURRENCY=BRL